* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    font-weight: 400;
    min-height: 100vh;
}
main {
    flex: 1 0 auto;
    width: 90%;
    margin: 2rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 3rem auto;
}
h1 {
    font-size: 1.75rem;
    font-weight: lighter;
}
form {
    position: relative;
    width: 100%;
}
.my-3 {
    margin: 1rem 0;
}
.todoInput {
    width: 28.125rem;
    max-width: 80%;
    background-color: transparent;
    border: 1px solid #80cfa9;
    color: #495057;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 4px 0 0 4px;
}
.addBtn, .clearBtn {
    border:1px solid #80cfa9;
    background: transparent;
    color: #80cfa9;
    border-radius: 0 4px 4px 0;
    padding: 6px 12px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: -5px;
    z-index: 10;
}
.clearBtn {
   border-radius: 4px;
}
.addBtn:hover, .clearBtn:hover {
    background: #80cfa9;
    color: #333333;
}
.error {
    color: #333333;
    background-color: #f8d7da;
    padding: 1rem;
    border-radius: 4px;
    display: none;
}
@media only screen and (min-width: 576px){
    .container {
        max-width: 100%;
    }
}
