* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    font-weight: 400;
    min-height: 100vh;
}
main {
    flex: 1 0 auto;
    width: 90%;
    margin: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 3rem auto;
}
.item-container {
    padding: 1rem;
    max-width: 100%;
}
.item {
    padding: 1rem;
    border: 1px solid #eeeeee;
}
h1 {
    font-size: 1.75rem;
    font-weight: lighter;
}
form {
    position: relative;
    width: 100%;
}
.my-3 {
    margin: 1rem 0;
}
.todoInput {
    width: 30rem;
    max-width: 80%;
    background-color: transparent;
    border: 1px solid #80cfa9;
    color: #495057;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 4px 0 0 4px;
}
.todoInput:active {
    box-shadow: none !important;
    outline: none;
}
.todoInput:focus {
    outline: none;
    box-shadow: none;
}
.addBtn, .clearBtn {
    border:1px solid #80cfa9;
    background: transparent;
    color: #80cfa9;
    border-radius: 0 4px 4px 0;
    padding: 6px 12px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: -5px;
    z-index: 10;
}
.clearBtn {
   border-radius: 4px;
}
.addBtn:hover, .clearBtn:hover {
    background: #80cfa9;
    color: #333333;
}
.error {
    display: none;
}
.show {
    color: #333333;
    background-color: #f8d7da;
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.todoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    max-width: 80%;
    border: none;
    background: transparent;
    padding: 6px 12px;
    font-size: 1rem;
    text-transform: capitalize;

}
.editTodo,.deleteTodo,.completeTodo{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0.5rem;
}
.deleteTodo:hover {
    font-weight: bold;
}
.addTodo:hover {
    opacity: 1;
}
.done {
    text-decoration: line-through;
    color: green;
}
.edit {
    color: #333333;
}
.clear {
    display: none;
}
#delete,#edit,#check{
    stroke: lightgray;
}
#delete:hover{
    stroke: red;
}
#edit:hover{
    stroke: #4111aa;
}

#check:hover{
    stroke: green;
}
.px-3 {
    padding: 0 1rem;
}



@media only screen and (min-width: 576px){
    .container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 400px){
    .todoInput {
        display: flex;
        width: 360px;
        margin: 1rem auto;
    }
    .container {
       max-width: 100%;
        padding: 0;
    }
    .item-container {
        padding: 0;
        width: 100%;
    }
    .editTodo,.deleteTodo,.completeTodo {
        padding: 8px 0;
    }
}